@font-face {
	font-family: 'SofiaLight';
	src: url('../../../../Fonts/Sofia\ Pro\ Light\ Az.otf');
}
@font-face {
	font-family: 'SofiaRegular';
	src: url('../../../../Fonts/Sofia\ Pro\ Regular\ Az.otf');
}
@font-face {
	font-family: 'SofiaMedium';
	src: url('../../../../Fonts/Sofia\ Pro\ Medium\ Az.otf');
}
